body {
    background: linear-gradient(to right, #0b0b0b 60%, #111f11);
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Monster';
    src: url('fuentes/Green_Energy/green_energy-webfont.woff2') format('woff2'),
         url('/fuentes/Green_Energy/green_energy-webfont.woff') format('woff');
}

.MonsterTitulo {
    color: #95d600;
}

p {
    font-family: "Bryndan Write", cursive, sans-serif;
    color: #e0e0e0;
    font-size: 23px;
}

h1 {
    font-family: "Monster", sans-serif, arial;
    color: #e0e0e0;
    font-size: 110px;
}

button {
    background-color: #0b0b0b;
    border-radius: 50px;
    border: 5px solid #95d600;
    padding: 15px 40px;
}

button:hover {
    background-color: #95d600;
}

button:hover a {
    color: #0b0b0b;
}

a {
    font-family: "Monster", sans-serif, arial;
    font-size: 30px;
    color: #95d600;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    padding: 70px;
    margin-top: 100px;
    margin-left: 290px;
}

.texto {
    flex: 1;
}

.imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 600px;
}