body{
    background: linear-gradient(to right, #0b0b0b 60%, #111f11);
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
}

@font-face {
    font-family: 'Monster';
    src: url('fuentes/Green_Energy/green_energy-webfont.woff2') format('woff2'),
         url('/fuentes/Green_Energy/green_energy-webfont.woff') format('woff');
}

a{
    text-decoration: none;
}

.listaNav a{
    color: #e0e0e0;
}

button{
    background-color: #0b0b0b;
    border-radius: 50px;
    border: 5px solid;
    border-color: #95d600;
    padding: 15px 40px 15px 40px;
}

button a{
    font-family: "Monster", sans-serif, arial;
    font-size: 50px;
    color: #95d600;
    text-decoration: none;
}

button:hover {
    background-color: #95d600;
}

button:hover a {
    color: #0b0b0b;
}