body{
    background: linear-gradient(to right, #0b0b0b 60%, #111f11);
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Monster';
    src: url('fuentes/Green_Energy/green_energy-webfont.woff2') format('woff2'),
         url('/fuentes/Green_Energy/green_energy-webfont.woff') format('woff');
}

a{
    text-decoration: none;
}

button{
    background-color: #0b0b0b;
    border-radius: 50px;
    border: 5px solid;
    border-color: #95d600;
    padding: 30px 40px 30px 40px;
}

button a{
    font-family: "Monster", sans-serif, arial;
    font-size: 50px;
    color: #95d600;
    text-decoration: none;
}

button:hover {
    background-color: #95d600;
}

button:hover a {
    color: #0b0b0b;
}

.nav {
    background-color: #0b0b0b;
    border-bottom: 3px solid #95d600;
    padding: 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav img {
    height: 40px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.nav a {
    font-family: "monster", sans-serif, arial;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.nav a:hover {
    color: #95d600;
    transition: 0.3s;
}

.seccion1 h1{
    font-family: "Monster", sans-serif, arial;
    color: #e0e0e0;
    font-size: 100px;
    text-align: center;
    padding: 350px 0px 350px 0px;
  }
.seccion1 h1 span{
    font-size: 50px;
    color: #95d600;
  }

.seccion2 {
    padding: 60px 0 60px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: center;
}

.bloque1 {
    border: 4px solid #95d600;
    border-radius: 30px;
    padding: 0px 30px 30px 30px;
    margin-left: 160px;
    margin-right: 250px;
}

.bloque1 h2 {
    font-family: "Monster", sans-serif, Arial;
    color: #95d600;
    font-size: 60px;
    margin-bottom: 25px;
    background-color: #0b0b0b;
}

.bloque1 p {
    font-size: 23px;
    color: #ffffff;
}

.bloque1 span {
    color: #95d600;
    font-weight: bold;
}

.img1 {
    display: flex;
    justify-content: flex-end;
}

.img1 img {
    max-width: 100%;
    height: 550px;
    display: block;
}

.bloque2 {
    border: 4px solid #95d600;
    border-radius: 30px;
    padding: 0px 30px 30px 30px;
    margin-left: 200px;
    margin-right: 160px;
    margin-top: 350px;
}

.bloque2 h2 {
    font-family: "Monster", sans-serif, Arial;
    color: #95d600;
    font-size: 60px;
    margin-bottom: 25px;
    background-color: #0b0b0b;
}

.bloque2 p {
    font-size: 23px;
    color: #ffffff;
}

.bloque2 span {
    color: #95d600;
    font-weight: bold;
}

.lista2 li {
    font-size: 23px;
    color: #ffffff;
}

.lista2 li span {
    color: #95d600;
    font-weight: bold;
}

.img2 img {
    height: 550px;
    margin-top: 350px;
    margin-left: 150px;
}

.final {
    text-align: center;
    padding: 100px 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.final h2 {
    font-family: "Monster", sans-serif, Arial;
    color: #ffffff;
    font-size: 80px;
    margin-bottom: 40px;
}

.final img {
    width: 300px;
    margin-bottom: 50px;
    display: block;
    font-display: center;
}
